@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Biblioteca</h1>
    <p>Use o menu superior para navegar.</p>
</div>

<br>

<div class="container">
    <img src="https://www.caldasnovas.go.gov.br/wp-content/uploads/2018/08/IMG_6669-1140x670-1140x570.jpg" width="100%" />
</div>